@charset "utf-8";

/** Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/** Reset y tipografía base */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/** Parallax Background + Body */
body {
    background-image: url('https://wallpapers.com/images/hd/1920x1080-anime-zatsune-miku-black-aqua-e7aw0yqxv9oxs0t1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1a1a1a;
    color: #E2E2E2;
}

/** Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: #222222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

/** Encabezados */
h1, h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    color: #1fd6ff;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
    background-color: #333333;
    padding: 0.5em;
    border-radius: 9px 9px 0 0;
}

/** Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3em 2em;
    background-color: #333333;
}
main{
    backdrop-filter: blur(5px) saturate(129%);
    -webkit-backdrop-filter: blur(5px) saturate(129%);
    background-color: rgba(17, 25, 40, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
main p {
    font-size: 2.2em;
    line-height: 1.6;
    color: #1fd6ff;
}
main ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
main ul li {
    margin-left: 2em;
    font-size: 2.2em;
    color: #D0E0E3;
}

/** Botones */
main button {
    margin: .5em 0;
    border: none;
    border-radius: .5em;
    padding: .25em .5em;
    background-color: #1fd6ff;
    cursor: pointer;
    font-size: 2.4em;
    color: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
main button:hover {
    background-color: #1fd6ff;
    opacity: 0.9;
}

/** Galería de discos */
#discos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    margin-top: 2em;
    width: 100%;
}
.contenedor {
    border-radius: 1em;
    background-color: rgb(34 97 109 / 21%);
    min-height: 200px;
    padding: 2em;
    text-align: center;
    margin: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s, box-shadow 0.3s;
    
}
.contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}
.contenedor img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 250px;
    border-radius: 0.5em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.detalles {
    max-height: 200px;
    overflow-y: auto;
    display: none;
    margin-top: 1em;
    list-style: disc;
    text-align: left;
    background-color: #333333;
    border-radius: 15px;
}
.detalles.mostrar {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}
.detalle-comun {
    color: whitesmoke;
}
.detalle-destacado{
    color: #ff2a2a;
    font-weight: bold;
}
.detalles:hover{
    border-radius: 45px;
    box-shadow: 5px 5px 25px #bebebe, -5px -5px 25px #ffffff;
}

/** Formulario */
#formulario-carga {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #444;
    background-color: #333333;
    color: #1fd6ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 1em;
}
.campos {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
    border: 2px solid  #1fd6ff;
    background-color: #222222;
    color: #E2E2E2;
}
.campos:focus {
    border-color: #1fd6ff;
    outline: none;
    scale: 1.01;
}

/** Footer */
footer, footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    justify-content: center;
    padding: 2em;
    background-color: #222222;
}
footer ul {
    justify-content: space-between;
    list-style: none;
}
footer ul li {
    font-size: 1.6em;
    color: #D0E0E3;
}
footer ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color:  #1fd6ff;
}
footer ul li a:hover {
    color:  #1fd6ff;
}

/** Responsive */
@media screen and (max-width: 600px) {
    main {
        padding: 1em;
    }
    h1, h2 {
        font-size: 2em;
    }
    main button {
        font-size: 1.8em;
        padding: 0.4em 1em;
    }
    #formulario-carga {
        padding: 1em;
    }
    .contenedor {
        padding: 1.5em;
    }
}

@media screen and (min-width: 960px) {
    main div.galeria {
        flex-direction: row;
    }
    main div.galeria > img {
        max-width: 24%;
        margin: 1em .5%;
    }
    main div.galeria div {
        align-self: flex-start;
        width: 30%;
    }
    footer ul {
        flex-direction: row;
    }
}
